/* Not minified for your viewing pleasure */

:root {
  --font-size: 18px;

  --background: GhostWhite;
  --text: SlateGray;
  --accent: PaleVioletRed;
  --faded: LightGray;

  --m1: 1rem;
  --m2: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text: LightSlateGrey;
    --faded: DarkSlateGrey;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', monospace;
  font-weight: 300;
  background: var(--background);
  padding: var(--m2);
  font-size: var(--font-size);
  color: var(--text);
}

body {
  max-width: 800px;
}

h1,
h2,
h3,
p,
ul {
  font-weight: 500;
  margin: 0;
  margin-bottom: var(--m1);
}

h1 span {
  display: block;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: var(--accent);
}

a {
  color: var(--accent);
}

hr {
  margin: 0;
  margin-bottom: var(--m2);
  border: 0;
  border-top: 1px solid var(--faded);
}

section {
  margin-bottom: var(--m2);
}

.text-content p {
  margin-bottom: 2rem;
}

/* ENTRY - BASE CLASS */

.entry {
  overflow: hidden;
  border-left: 0.3rem solid var(--accent);
  padding: 0 1rem;
}

.entry:not(:first-of-type) {
  margin-top: 2rem;
}

.entry label {
  font-size: 0.8rem;
  font-weight: bold;
}

/* WORK */

.work h3 {
  font-weight: bold;
}

.work h3 span {
  color: var(--accent);
  font-weight: normal;
}

/* CHIP LIST */

ul.chip-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  list-style-type: none;
  margin: 0.5rem 0 1rem 0;
  padding: 0;
}
ul.chip-list li {
  display: inline-block;
  overflow: hidden;
  background: var(--accent);
  color: var(--background);
  padding: 0.3rem 1rem;
  margin: 0.15rem;
}

/* Small screen view */
@media screen and (max-width: 500px) {

  :root {
    --m1: 1rem;
    --m2: 2em;
  }

  html {
    font-size: 16px;
    padding: var(--m1)
  }
}
